
<div class="container-fluid">
    
    <% @ideas.each do |i| %>
        <div class="p-2 my-3">
            
            <div class="">
                <strong><%=link_to i.title, idea_path(i.id), class: 'link-dark'%></strong>
                <p class="card-text"><%=i.description%></p>
                <a href="#">By: <%= i.user&.full_name|| "DELETED" %></a>
                
            </div>
        </div>
        <hr>
    <%end%>
    
</div>