@import 'bootstrap/dist/css/bootstrap';

hr{
    display:block;
    border:none;
    height: 3px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(rgb(133, 131, 131)), to(rgb(194, 193, 193)));
}

body{
    font-family: 'Architects Daughter', cursive;
    font-size: 18px;
    background-image: url("note.jpg");
}